ol, ul {
list-style: none;
}
  .mdl-layout__drawer-button, .mdl-layout__drawer{
      left: initial;
      right: 0;
  }

  .mdl-layout__drawer{
      transform:translateX(250px);
  }
  /*
  .mdl-layout__header {
    min-height: 48px;
  }

  .mdl-layout__drawer-button {
    height: 40px;
  }*/

  .mdl-layout__drawer-button {
    height: 40px;
  }
  .mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
    background:  #e0e0e0;
  }

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.dashboard-brick-list {
  padding: 10px 30px;
  width: 100%;
  height: 540px;
  overflow: hidden;
}
.dashboard-brick-list > li {
  float: left;
  padding: 11px;
}
.more_horiz {
  color: gray !important;
}
body {
  background: #e0e0e0;
}
.card-header-middle {
  color: #cccccc;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: -16px;
  width: 100%;
}
.card-header-left {
  position: absolute;
  left: 10px;
  top: 10px;
}
.card-header-right {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-blue {
  color: #0396af;
}
.card-blue .card-bar-inner {
  background: #0396af;
}
.card-green {
  color: #8cc63f;
}
.card-green .card-bar-inner {
  background: #8cc63f;
  width: 100% !important;
}
.card-body > h1 {
  font-size: 82px;
  padding-top: 43px;
  text-align: center;
  width: 100%;
  margin: 0;
  font-weight: lighter;
}
.card-body > h2 {
  color: #898989;
  font-size: 23px;
  margin: 0px;
  text-align: center;
  width: 100%;
  padding-bottom: 45px;
  margin-top: -18px;
  font-weight: lighter;
}
.card-bar {
  background: #f2f2f2;
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.card-bar-inner {
  width: 80%;
  height: 100%;
}

.mdl-card {
    width: 100%;
    height: 100%;
}

footer {
  position: absolute;
  bottom: 5px;
  width: 100%;
}
.start-test-button {
  padding: 25px 0px;
  background: #8cc63f;
  color: white;
  font-size: 30px;
  border-radius: 10px;
  font-weight: 100;
  margin: 30px auto;
  width: 500px;
  text-align: center;
}


.mdl-card {
  min-height: 10px;
}

.two-columns {
  width: 45%;
  height: 470px;
}
.two-columns h1 {
  font-size: 132px;
  padding-top: 100px;
}

.three-columns {
  width: 29%;
  height: 257px;
}
.three-columns h1 {
  font-size: 89px;
  padding-top: 57px;
}

.four-columns {
  width: 21.4%;
  height: 230px;
}
.four-columns h1 {
  font-size: 69px;
}
.four-columns h2 {
  font-size: 20px;
}

.five-columns {
  width: 16.6%;
  height: 164px;
}
.five-columns h1 {
  font-size: 50px;
  padding-top: 45px;
}
.five-columns h2 {
  font-size: 18px;
}
.five-columns .card-bar {
  height: 10px;
}

.slim-rows {
  width: 29.5%;
  height: 45px;
  padding: 5px 11px !important;
}

.slim-rows h1 {
  font-size: 26px;
  padding-top: 8px;
  width: inherit;
  float: left;
  margin: 0;
  padding-left: 103px;
  padding-right: 7px;
}
.slim-rows h2 {
  font-size: 16px;
  float: left;
  margin: 0;
  padding: 0;
  width: 89px;
  line-height: 29px;
  padding-top: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
.slim-rows .card-bar {
  height: 0px;
}
.slim-rows .card-header-middle {
    color: #cccccc;
    font-size: 20px;
    /* text-align: center; */
    position: absolute;
    left: -4px;
    width: 10px;
    /* display: none; */
    padding-left: 45px;
    top: -18px;
}

body.noscroll{
    position:fixed;
    overflow:hidden;
}
.templates {
  display: none;
}
